/* Estilos generales que aplican a todas las pantallas */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

/*
	Modificadores
*/

.margin_izquierda {
	margin-left: 1rem;	
}

/*
	Mobile first
*/

body {
	font-family: 'Montserrat';
}

.calendario {
	background-color: #252944;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 0.5rem;
}

.calendario-categoria {
	background-color: #FAFAF8;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 1rem;
}

.categoria-title {
	text-align: center;
	background-color: #FAFAF8;
	/*	Dejar el titlo al hacer scroll	*/
	position: sticky;
    top: 0px;
}

.categoria-title::after{
	content: '¡IMPORTANTE! Tab o Clic en el recuadro del calendario para agregar a Google Calendar';
	display: block;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	color: #252944;
}

.comentario {
	font-size: 0.8rem;
}

.pre-comentario {
	display: block;
}

.categoria-mes {
	display: inline-block;
}

.cuadricula {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: flex-start;
	align-items: center;
}

.cuadricula-celda {
	border: 1px solid #dee2e6;
	text-align: center;
	width: 9.2rem;
	min-width: 9.2rem;
	height: 7rem;
	min-height: 7rem;
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-shrink: 5;
}

.cuadricula-celda:hover {
	-webkit-box-shadow: 6px 5px 12px -3px rgba(37,41,68,0.5);
	-moz-box-shadow: 6px 5px 12px -3px rgba(37,41,68,0.5);
	box-shadow: 6px 5px 12px -3px rgba(37,41,68,0.5);
	background-color: #dee2e66b;
}

.celda-dias {
    font-weight: bold;
	border-width: 1px;
	border-style: none none solid none;
	border-color: #dee2e6;
}

.celda-digitos {
	height: 3rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.celda-digitos > * {
	font-size: 1.1rem;
	border: 0.1rem #252944;
	border-style: none none solid none;
}

.scroll-top {
	display: none;
	width: 3em;
	height: 3em;
	position: fixed;
	bottom: 2em;
	right: 2em;
	border-radius: 2em;
	border: 1px solid #dee2e6;
	background-color: rgba(37, 41, 68, 0.565);
}

.scroll-top::after {
	/* ↑ */
	content: '↑';
	position: relative;
    top: 0.1em;
    left: 0.44em;
	font-size: 2em;
	color: #dee2e6;
}